@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

body { 
	/* background: #f7f4ed; */
	background: url(../images/paperTexture.jpg);
}

.group:after 									{clear:both; content:"."; display:block; height:0; visibility:hidden; }
* html .group 									{height:1%; }

/* Titles */
h1 												{ font-family: Lato, sans-serif; font-size: 40px; color: #504342; }
p 												{ color: #997653; }

a,
a:link,
a:visited 			{ color: #4CB63D; } 

.wrap{
	width: 940px;
	margin: 0px auto;
	padding: 0px 10px;
}

/* Head */

#masthead {
	border-top: 0px !important; 
}

#mainLogo 							{	text-align: center; width: 100%; padding-bottom: 20px; padding-top: 20px; z-index: 1; }
#mainLogo img 						{ width: 150px; }

.home #mainLogo 					{ position: absolute; top: 12px; padding-top: 0px; }
.home #mainLogo img					{ width: 200px; }

#greenLine {
	height: 50px;
	background: #569756;
	/*max-width: 1500px;*/
	margin: 0 auto;
	opacity: 0.8;
	visibility: hidden;
}

h1.site-title{
	font-size: 42px;
	font-weight: bold;
	width: 200px;
	margin: 10px auto;
	
}
h1.site-title a{
	display: block;
}


/* Slider */

#wideslider{
	padding: 0px;
	margin: 0px;
	border:none;
	overflow:hidden;
}

#wideslider ul li{
	position: relative;
	max-height: 380px;
	background: none;
}
.flex-caption{
	
 	position: absolute; 
	bottom: 50px;
	width: 70%;
	margin-left: 15%;
	z-index: 2;
	text-align: center;
	color: #fff;
}

.flex-caption h2{
	font-size:32px;
}


/* Menu */

#submenu{
	
}


/*** ESSENTIAL STYLES ***/

.main-navigation 										{ position: relative; max-width: 1000px; height: 120px; margin: 0 auto 50px; font-size: 18px;  }
.main-navigation .sf-menu								{ border-bottom: 1px solid #ccc; }
.main-navigation .sub-menu								{ display: none; position: absolute; left: 0; top: 80px; width: 100%; margin: 0; padding-bottom: 20px; border-bottom: 1px solid #ccc; }
.main-navigation .current-menu-item a 					{ color: #997653; }
.main-navigation .current-menu-item ul a				{ color: #4CB63D; }
.main-navigation .current-menu-item	.sub-menu,
.main-navigation .current-menu-ancestor	.sub-menu		{ display: inline; }
.main-navigation .current-menu-ancestor a 				{ color: #997653; }
.main-navigation .current-menu-ancestor ul a			{ color: #4CB63D; }
.main-navigation .current-menu-ancestor .current-menu-item a 					{ color: #997653; }


.home .main-navigation 									{ height: auto; margin: 0 auto 25px; }


/*
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	/* position: relative; 
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

.sf-menu {
    float: left;
    position: relative;
    left: 50%;
}
.sf-menu ul li {
    left: 0%;
}
.sf-menu li {
    left: -50%;
}
*/

.sf-menu {
	text-align: center;
	padding: 20px 0;
	margin: 0;
}

.sf-menu li {
	display: inline;
	padding: 17px;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}


/* Articles */

.page-header{
	background: #d2d2d2;
	display: block;
	overflow: hidden;
	color: #fff;
	padding-bottom: 20px;
	text-align: center;
}

h1.page-title{
	color: #fff;
	margin: 20px 0px 0px 0px;
	
}

.page-header p{
	margin: 0px 0px;
}
article.post, article.page{
	padding: 0px 0px;
	margin: 0px;

}

.entry-header{
	text-align: center;
	padding-top: 10px;
}

.entry-header h1.entry-title{
	font-size: 36px;
	color:#111;
	clear: none;
}

h1.entry-title a:link, h1.entry-title a:visited{
	color:#111;
}

.entry-header .entry-meta{
clear: none;
	padding: 0px 0px 10px 0px;
	color: #999;
	font-size: 13px;
}

.entry-header span{
	margin: 0px 10px;
}

.post-img{

	width: 300px;
	height: 300px;
	float: left;
	margin-right: 30px;
	border-radius: 150px;
	overflow: hidden;
}

.even .post-img{
	float: right;
	margin-right: 0px;
	margin-left: 30px;
}

.readmore{
	background: #29b977;
	padding: 7px 20px;
	border-radius: 3px;
	font-weight: bold;
	display: inline-block;
	
}

.readmore a:link, .readmore a:visited{
	color: #fff;
}



/* Footer widgets */

#bottom{
	padding: 20px 0px 40px 0px;
}

#bottom ul{
	margin:0px 0px;
	padding:0px;
}

h3.bothead, h3.sidetitl{
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px 0px;
	color: #818181;
	margin-left: 130px;
}
	
.botwid{
	padding:10px 0px;
	color: #997653;
	list-style:none;
	width: auto !important;
	float:left;
}
	
.botwid ul {
	list-style-type: none;
	margin:  0px;
	padding: 0px 0px 0px 0px ;


	}
.botwid li{
	display: block;
	position: relative;
	min-height: 50px;	
	margin: 2px;
	padding: 20px 20px 20px 130px;
    border-top: 1px dotted #ccc;
    list-style-type: none;	
	overflow: hidden;
}

.botwid ul ul  {
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 0px;
	background-repeat:no-repeat;
		}

.botwid ul ul ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:0;
	}

.botwid ul ul ul ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	border:0;

	}

.botwid ul li .post-date 					{ position: absolute; top: 29px; left: 20px; color: #504342; font-family: 'Bitter', sans-serif; font-size: 20px; width: 65px; text-align: right; line-height: 1; }
.botwid ul li .post-date span 				{ font-size: 15px; }

	
.botwid ul li a:link, .botwid ul li a:visited  {
	text-decoration: none;
	padding: 0px 0px 7px 0px;
	display:block;
	font-size: 25px;
}

.botwid ul li a:hover{
	color: #d2484e;
	}

.botwid p{
	padding: 5px 0px;
	margin:0;
	line-height:150%;
	
	}

.botwid table {
	width:100%;
	text-align:center;
	color: #818181;
	}		
		
.botwid ul#recentcomments li.recentcomments {
    padding:7px 0;
}


.squarebanner{
	margin:0px;
}


.squarebanner ul{
	margin:0px 0px 0px 0px;
	padding:10px 0px 10px 0px !important;

}

.squarebanner ul li{
	margin:10px 20px 5px 0px;
	list-style:none;
	float:left;
	background: #EFEFEF;
	padding: 5px 5px;
}


li.rbanner{
	margin-right:0px!important;
}



/* Comments */

#comments{
	margin-top:50px;
	margin-bottom: 50px;
}

h2.comments-title{
	font-size: 24px;
	margin: 0px 0px 30px 0px;
	color: #333;
}

#comments ol.commentlist {
    clear: both;
    overflow: hidden;
    list-style: none;
    margin: 0;
}

#comments ol.commentlist li.comment,#comments ol.commentlist li.pingback {
    margin: 0px 0px 40px 0px;
    padding: 0px 0px;

}

ol.commentlist li .comment-author .avatar {
     margin: 0px 10px 0px 0px ;
     float:left;
}
.comment-top{
	background: #edf1f2;
	padding: 5px 5px;	
}
cite.fn {
    color: #444;
    font-style:normal;
    font-weight:bold;
    font-size:16px;
    padding: 0px 0px;
    display: block;
    color: #333;
}

span.says{
	display: none;
}

cite.fn a:link,cite.fn a:visited {
	color:#444;
}

ol.commentlist li .comment-meta{
	font-size: 13px;
}

ol.commentlist li .comment-meta a {
    color: #999;
    text-decoration: none!important;
    
}
.comment-content{
	padding: 20px 0px 0px 60px;
}

ol.commentlist li .reply {
	clear: both;
    font-size: 12px;
    margin-left: 60px;
    
}

ol.commentlist li .reply a {
	color:#fff;
	background:#29b977;
    color: #fff;
    padding:7px 14px;
    border-radius: 3px;
}

.space{
	height:30px;
}

ol.commentlist li ul.children {
    list-style: none;
    text-indent: 0;
    margin: 40px 0px 40px 60px;
}


#respond {
    margin: 30px 0;
}

#respond h3 {
    font-size: 16px;
    font-weight: 700;
    color: #222;
    padding: 5px 0px;
    margin:0px 0px;
}

#commentform {
    padding: 0px 0px;
}

#commentform p {
    color: #777;
    margin: 5px 0;
}

.form-allowed-tags{
	font-size:13px;
}

#respond label {
    display:inline;
    color: #777;
    padding: 5px 0;
}

#respond input {
    background: #fff;
    border: 1px solid #ddd;
    color: #777;
    margin: 0 10px 10px 0;
    padding: 5px;
}

#commentform input {
    width: 50%;
    display:block;
    margin-top:5px;
}

#respond input#submit {
	width:130px;
    background:#eee;
    color: #555;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

textarea#comment {
    display:block;
    margin-top:5px;
    background: #fff;
    border: 1px solid #ddd;
    width: 70%;
    color: #333;
    margin: 5px 0 0;
    padding: 10px 10px;
}

.form-allowed-tags{
	padding:20px 0px;

}



/* paginate */

.pagination{
	margin: 50px 0px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.pagination a:link,.pagination a:visited{
	background: #f3f3f3;
    display: block;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    color: #999!important;
    border-radius: 20px;
    
}

.paginate span{
	color: #fff;
    display: block;
    width:40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    background: #35c683;
    border-radius: 20px;
}

/* Footer */

.site-footer{
	padding: 30px 0px;
}

.fcred{
	padding: 10px 0px;
	color: #000;
}

.fcred a:link, .fcred a:visited {
	color:#eee;
}

.bubble 							{ border-radius: 50%; border: 6px solid #e9e2cb; overflow: hidden; }
.bubble img 						{ width: 100%; }

/* General page */
#primary h1 						{ text-align: center; padding-bottom: 40px; }

/* Main page */
#mainPage 							{ max-width: 1000px; margin: 0 auto; padding: 20px 0; text-align: center; font-size: 17px; }
#mainPage h1 						{ font-size: 50px; margin: 20px 20px 10px; }
#mainPage p 						{ padding: 0 100px 20px; line-height: 1.6; text-align: left; }
#mainPage #actions 					{ width: 387px; margin: 0 auto; }
#mainPage #actions a 				{ float: left; margin: 0 10px; padding: 20px 30px; background: #4CB63D; color: #fff; border-radius: 10px; }
#mainPage #actions a:hover 			{ background: #d2484e; }

/* childrens list */
#childrens 							{ max-width: 880px; margin: 0 auto; padding: 30px 0; }
#childrens .children 				{ float: left; width: 200px; margin: 10px; } 
#childrens .children .bubble 		{ width: 200px; height: 200px; border-radius: 50%; overflow: hidden; border: 6px solid #e9e2cb; }
#childrens .children span 			{ display: block; text-align: center; }
#childrens .children img 			{ width: 200px; min-height: 200px; }

/* children profile */
#profile							{ margin: 0 auto; width: 820px; padding: 20px 0 0; font-family: Lato, sans-serif; } 
#profile #left 						{ float: left; width: 300px; margin-right: 50px; }

#profile #left h4 					{ padding: 10px 0; margin: 0 auto; width: 250px; border-bottom: 1px solid #ccc;  }
#profile #left table 				{ margin: 0 auto 20px; width: 250px; }
#profile #left th, td 				{ padding: 10px; border-bottom: 1px solid #ccc; }
#profile #left th 					{ text-align: left; font-weight: normal; }
#profile #left td 					{ text-align: right; }

#profile #left tr:last-child th,
#profile #left tr:last-child td		{ border: none; }

#profile #right						{ float: left; width: 470px; }
#profile .photo						{ width: 250px; height: 250px; margin: 0 auto 20px; }
#profile h1 						{ margin-top: 10px;  padding: 0 0 20px; text-align: left; }
#profile h3 						{ padding: 0 0 20px 0; margin: 0; }
#profile #helpMe					{ display: block; width: 200px; margin: 0 auto; background: #4CB63D; color: #fff; font-size: 20px; padding: 15px 0; text-align: center; border-radius: 5px; }

#profile #timeline 					{ background: url(../images/timelineBorder.png) 50% 0 repeat-y;}
#profile #timeline .start			{ margin: 0 auto 20px; padding: 10px; width: 100px; background: url(../images/paperTexture.jpg); text-align: center;  }
#profile #timeline .note			{ padding: 15px; margin-bottom: 20px; background: #fff; border: 1px solid #ccc; border-radius: 8px; color: #997653; }
#profile #timeline .galleryPhoto	{ width: 100%; }


#articlePage 						{ width: 600px; margin: 0 auto; }
#articlePage h1 					{ text-align: center; }








