{block title}Výpisy{/block}

{block content}
<center>
  <textarea name="promenna" style="width: 1200px; height: 600px;">
	{foreach $aktivniSponzori as $radek}{$radek->mail};{/foreach}
  </textarea>
{/block}
