.group:after                	{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .group               	{ height: 1%; }
*:first-child+html .group		{ min-height: 1px; }

		
#page 							{ width: 1200px; margin: 0 auto; padding: 20px; }
.left							{ float:left; margin-right: 10px; }

header							{ width: 1200px; margin: 0 auto; padding: 10px 0 10px; }
form							{ padding: 0px 0 0; }

textarea						{ width: 400px; height: 200px; }

.detail h1						{ padding-bottom: 20px; }
.detail label					{ float:left; width: 200px; margin-right: 10px; }
.detail textarea				{ width: 600px !important;}

.benefitChild h1				{ padding-bottom: 20px; }

#notes							{ padding-top: 30px; }

.btn-offset						{ margin: 15px 0 30px; }
input.btn-offset				{ margin: 10px 0; display: block; }
.icon-offset					{ margin: 0px 5px 0 0; }

.checkbox						{ margin-bottom: 5px; }
.checkbox label					{ display: inline; }

#noResults						{ padding: 0 0 40px; }

#mainNavigation .btn-small 		{ background: none; }
.big-name						{ font-size: 18px; }
.no-space						{ padding: 0; }

.nearText input					{ margin: 0; }

.btn-wrap 						{ margin-bottom: 30px; }

.nowrap							{ white-space: nowrap; }
/*.inline 						{ display: inline; }*/
