{block title} Bwindi - děti {/block}

{block content}
	<section id="page">
		<h2>Přidat další záznam k {$diteS}</h2>
		<div class="skola-form">
			{form novyTimelineForm}
				{label rok /}{input rok}
				{label poradi /}{input poradi}
				{label text /}{input text}
				{label foto /}{input foto}
				<div>
				{input create}
				</div>
			{/form}
		</div>
{/block}