/* -------- Obecné styly -------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background: #f4ebd3;
  font-size: 17px;
  font-family: Helvetica, Lato, Arial, sans-serif;
}
.group:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
* html .group {
  height: 1%;
}
h1 {
  font-size: 3.375em;
  color: #504342;
  font-weight: normal;
  line-height: 1em;
  margin: 0.5em 0 1em;
}
h2 {
  font-size: 2.25em;
  color: #504342;
  font-weight: normal;
  line-height: 1.1em;
  margin: 1em 0;
}
h3 {
  font-size: 1.5em;
  color: #504342;
  font-weight: normal;
  line-height: 1.5em;
  margin: 1em 0;
}
h4 {
  font-size: 1.2em;
  color: #504342;
  font-weight: normal;
  line-height: 1em;
  margin: 1em 0;
}
p {
  color: #666;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
p img {
  max-width: 100%;
}
.topAlign {
  margin-top: 0.2em;
}
.bottomAlign {
  margin-bottom: 0.2em;
}
img.right {
  float: right;
  margin-left: 20px;
}
img.left {
  float: left;
  margin-right: 20px;
}
.fullsize {
  width: 100%;
}
a {
  color: #4CB63D;
}
a:link {
  color: #4CB63D;
}
a:visited {
  color: #4CB63D;
}
ul {
  margin: 1em 0;
}
li {
  line-height: 1.5em;
}
.entry-content .block {
  clear: both;
  margin-bottom: 3em;
}
.entry-content img {
  max-width: 100%;
}
.entry-content img.left {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.entry-content img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.entry-content p {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
p.perex {
  font-size: 1.5em;
}
.button {
  display: inline-block;
  margin-right: 10px;
  padding: 6px 35px;
  background: #4CB63D;
  color: #fff !important;
  border-radius: 5px;
  text-decoration: none !important;
}
.button:hover {
  background: #997653;
}
#actions {
  text-align: center;
  padding: 20px 0;
  margin: 0 auto 1.5em;
}
#actions a {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 15px;
  background: #4CB63D;
  color: #fff !important;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.708em;
}
#actions a:hover {
  background: #997653;
}
.edit-link {
  display: none;
}
.cite {
  line-height: 1.2em;
  font-family: georgia;
  font-style: italic;
}
.commentTitle {
  font-family: georgia;
  font-style: italic;
  text-align: center;
}
.bubble {
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
  border-color: #ede1cb;
  overflow: hidden;
}
.bubble img {
  position: relative;
  top: -14px;
  width: 100%;
}
.bubble.male {
  border-color: #b2c1da;
}
.bubble.female {
  border-color: #e6b5b6;
}
.bubbleName {
  display: block;
  padding: 8px 10px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
.photoChildrenArticle {
  margin-bottom: 1.5em;
}
.photoChildrenArticle .photo {
  float: left;
  width: 170px;
  height: 170px;
  border-width: 4px !important;
  margin: 0 20px;
}
.photoChildrenArticle h3 {
  padding-top: 35px;
  margin: 0;
}
.photoChildrenArticle p {
  margin: 0 0 1.5em;
}
.photoChildrenArticle.right .photo {
  float: right;
}
.photoChildrenArticle.right h3 {
  text-align: right;
}
.photoChildrenArticle.right p {
  text-align: right;
}
#page {
  min-height: 100%;
  margin-bottom: -140px;
}
#page:after {
  content: "";
  display: block;
  height: 140px;
}
article.page .entry-content {
  max-width: 700px;
  margin: 0 auto;
}
#actionButtons {
  clear: both;
  text-align: center;
  padding: 10px 15px;
  margin: 0 auto 1.5em;
}
#actionButtons a {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 15px;
  background: #4CB63D;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.708em;
}
#actionButtons a:hover {
  background: #997653;
}
#mainLogo {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  z-index: 3;
}
#mainLogo img {
  width: 150px;
}
.home #mainLogo {
  position: absolute;
  top: 12px;
  padding-top: 0px;
}
.home #mainLogo img {
  width: 200px;
}
.home .hp-title {
  margin: 0.5em 0;
  text-align: center;
}
.home .entry-content {
  width: auto;
  padding: 0;
}
.home .perex {
  text-align: center;
}
.home .main-navigation {
  height: auto;
  margin: 0 auto 0;
}
.home .sf-menu li {
  font-size: 1.1em;
}
.home #forAdoption {
  width: 700px;
  margin: 2em auto;
  text-align: center;
}
.home #forAdoption .children {
  display: inline-block;
  padding: 0 20px;
}
.home #forAdoption .children .bubble {
  width: 150px;
  height: 150px;
  border-width: 4px;
}
#masthead {
  border-top: 0px !important;
}
#wideslider {
  padding: 0px;
  margin: 0px;
  border: none;
  overflow: hidden;
  max-width: 2200px;
}
#wideslider ul li {
  position: relative;
  max-height: 380px;
  background: none;
}
@media (min-width: 1400px) {
  .slides img {
    top: -50px !important;
  }
}
@media (min-width: 1600px) {
  #wideslider ul li {
    max-height: 400px;
  }
  .slides img {
    top: -100px !important;
  }
}
/* -------- Navigace -------- */
.main-navigation {
  position: relative;
  margin: 0 auto;
}
.main-navigation .sf-menu li {
  border-bottom: 1px dotted #ccc;
  margin-right: -4px;
}
.main-navigation .sf-menu li.current-menu-parent {
  border-bottom: 1px solid #997653;
}
.main-navigation .sf-menu li.current-menu-parent a {
  color: #997653;
}
.main-navigation .sf-menu li.current-menu-parent .sub-menu a {
  color: #4cb63d;
}
.main-navigation .sf-menu li.current-menu-parent .current-menu-item a {
  color: #997653;
}
.main-navigation .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  margin: 0;
}
.main-navigation .sub-menu li {
  border-bottom: 0px;
}
.main-navigation .current-menu-item {
  border-bottom: 1px solid #997653 !important;
}
.main-navigation .current-menu-item .sub-menu {
  display: inline;
}
.main-navigation .current-menu-item a {
  color: #997653;
}
.main-navigation .current-menu-item ul a {
  color: #4cb63d;
}
.main-navigation .current-menu-ancestor .sub-menu {
  display: inline;
}
.main-navigation .current-menu-ancestor .current-menu-item {
  border-bottom: 0px !important;
}
.sf-menu {
  text-align: center;
  padding: 0 0 20px;
  margin: 0;
}
.sf-menu li {
  display: inline-block;
  padding: 17px;
}
.sf-menu li.current-menu-item.menu-item-has-children,
.sf-menu li.current-menu-parent.menu-item-has-children {
  margin-bottom: 60px;
}
#bottom {
  padding: 0px;
}
#bottom ul {
  margin: 0px 0px;
  padding: 0px;
}
#bottom h3.bothead {
  max-width: 800px;
  margin: 1.5em auto 0.5em;
  font-weight: normal;
  text-align: left;
  color: #818181;
}
#bottom .botwid {
  display: block;
  color: #666;
  list-style: none;
  width: auto !important;
  float: none;
}
#bottom .botwid ul {
  list-style-type: none;
}
#bottom .botwid ul li {
  display: block;
  position: relative;
  margin: 0;
  border-top: 1px dotted #ccc;
}
#bottom .botwid ul li .wrapper {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}
#bottom .botwid ul li h3 {
  margin: 1em 0 0.5em;
}
#bottom .botwid ul li .post-date {
  display: block;
  font-size: 0.8em;
  color: #818181;
}
#bottom .botwid ul li a {
  display: block;
  line-height: 1em;
  padding: 1em 0;
  text-decoration: none;
}
#bottom .botwid ul li a:hover {
  color: #504342;
  background: #eadec5;
}
#bottom .botwid p {
  text-align: left;
}
#primary h1 {
  text-align: center;
  margin: 0.5em 0;
}
.mainPage-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.mainPage-wrapper .entry-content {
  max-width: 860px !important;
}
.mainPage-wrapper .entry-content h1 {
  text-align: left !important;
}
.mainPage-wrapper .entry-content #mainPage p {
  font-size: 1.47em;
}
#mainPage {
  width: 500px;
  float: left;
  margin: 0 30px 0 0;
  text-align: left;
}
#mainPage h1 {
  margin: 20px 20px 10px;
}
#mainPage p {
  text-align: left;
}
#new-post {
  position: relative;
  top: -5px;
  margin-bottom: 2em;
  float: right;
  width: 300px;
}
#new-post h3 {
  margin: 1.6em 0 0;
}
#new-post span.date {
  position: relative;
  top: -5px;
  color: #818181;
  font-size: 0.667em;
}
#new-post p {
  margin: 0.5em 0 1em;
}
.single-post p {
  line-height: 1.6;
}
.single-post .entry-content {
  width: 800px;
  margin: 0 auto;
}
#thanksForAdoption {
  width: 500px;
  margin: -40px auto 0;
  text-align: center;
  padding-bottom: 70px;
}
#thanksForAdoption p span {
  color: #707070;
}
#thanksForAdoption i {
  display: block;
  padding-top: 10px;
}
#thanksForAdoption .bubble {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.twoColumnsLayout {
  font-family: Lato, sans-serif;
  margin: 0 auto 0;
  width: 820px;
  padding: 20px 0 0;
}
.twoColumnsLayout .perex {
  font-size: 1.2em;
  margin: 0.3em 0 1em;
  text-align: left;
}
.twoColumnsLayout #right {
  float: left;
  width: 450px;
}
.twoColumnsLayout #right h4 {
  float: left;
  width: 470px;
}
.twoColumnsLayout #left {
  float: left;
  width: 300px;
  margin-right: 50px;
}
.twoColumnsLayout #left h4 {
  padding: 10px 0;
  margin: 0 auto;
  width: 250px;
  border-bottom: 1px solid #ccc;
}
.twoColumnsLayout #left th {
  text-align: left;
  font-weight: normal;
}
.twoColumnsLayout #left td {
  text-align: right;
}
.twoColumnsLayout #left table {
  margin: 0 auto 20px;
  width: 250px;
}
.twoColumnsLayout #left th,
.twoColumnsLayout #left td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.twoColumnsLayout #left tr:last-child th,
.twoColumnsLayout #left #profile #left tr:last-child td {
  border: none;
}
#profile #left p {
  text-align: center;
}
#profile a#helpMe:hover {
  background: #997653;
}
#profile #helpMe.disable {
  background: #f4f0e5;
  border: 1px solid #ccc;
  color: #666;
}
#profile #timeline {
  background: url(../images/timelineBorder.png) 50% 0 repeat-y;
}
#profile #timeline .showMore {
  display: block;
  width: 145px;
  margin: 15px auto 30px;
  padding: 15px 0;
  background: #4CB63D;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.708em;
}
#profile #timeline .note {
  padding: 5px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #997653;
}
#profile #timeline .note img {
  display: block;
  width: 100%;
}
#profile #timeline .note p {
  margin: 0;
  padding: 5px;
  text-align: left;
}
#profile #timeline .start {
  margin: 0 auto 20px;
  padding: 10px;
  width: 100px;
  background: #f4ebd3;
  text-align: center;
}
#profile #timeline .noShow {
  display: none;
}
#profile #timeline .showMore:hover {
  background: #997653;
}
#profile #timeline .galleryPhoto {
  width: 100%;
}
#profile .photo {
  width: 250px;
  height: 250px;
  margin: 45px auto 20px;
}
#profile h1 {
  text-align: left;
  margin-bottom: 0;
}
#profile #helpMe {
  display: block;
  width: 200px;
  margin: 0 auto 30px;
  background: #4CB63D;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  border-radius: 5px;
}
#contacts {
  margin: 0px auto 2em;
  max-width: 900px;
}
#contacts .contactLink {
  font-size: 1.2em;
  text-align: center;
}
#contacts #main-contacts {
  width: 640px;
  margin: 0 0 1.5em 242px;
}
#contacts #main-contacts ul {
  float: left;
  display: block;
}
#contacts #main-contacts ul:last-child {
  margin-left: 50px;
}
#contacts .teamMember {
  float: left;
  width: 280px;
  height: 330px;
  margin: 0 10px 50px;
  text-align: center;
}
#contacts .teamMember h3 {
  display: block;
  margin: 20px 0 0px;
  padding-bottom: 3px;
  font-weight: normal;
  color: #504342;
}
#contacts .teamMember p {
  margin: 0 0 1.5em 0;
}
#contacts .teamMember .bubble {
  width: 200px;
  margin: 0 auto;
  height: 200px;
}
#contacts .teamMember .bubble img {
  top: 0px;
}
#contacts .teamMember .title {
  margin-bottom: 5px;
  color: #997653;
}
.entry-content {
  padding-bottom: 40px;
}
.entry-content ul {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: none;
}
.entry-content ul li {
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.entry-content .wide {
  width: 100%;
}
.entry-content p {
  line-height: 1.5;
}
.entry-content p a {
  text-decoration: underline;
}
.entry-content .dotted li {
  color: #997653;
  padding: 10px 0 10px 50px;
  background: url(../images/dot.png) 10px 50% no-repeat;
}
.entry-content h1 {
  text-align: center;
}
.entry-content h2 {
  color: #504342;
}
#sponsors {
  clear: both;
  border: 1px dotted #ccc;
  text-align: center;
  height: 140px;
}
#sponsors div {
  padding: 20px 0 10px;
}
#sponsors img {
  position: relative;
  padding: 0 10px;
}
#formAdoption {
  width: 750px;
  padding-bottom: 70px;
}
#formAdoption #left {
  text-align: center;
}
#formAdoption #right {
  width: 380px;
}
#formAdoption .errorMsg {
  display: none;
  padding: 5px 38px 0 5px;
  font-size: 13px;
  color: #ec0000;
}
#formAdoption #send {
  width: 290px;
  padding: 15px 0;
  background: #4CB63D;
  border: 0;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin-top: 0.5em;
}
#formAdoption #send:hover {
  background: #997653;
}
#formAdoption .error .errorMsg {
  display: block;
}
#formAdoption .error input {
  border: 1px solid #ec0000;
}
#formAdoption form {
  margin-top: 25px;
  margin-left: 40px;
}
#formAdoption form label {
  display: block;
  padding: 7px 0 0 5px;
}
#formAdoption form .require {
  padding-left: 5px;
  font-size: 20px;
  cursor: help;
}
#formAdoption form textarea {
  height: 100px;
  width: 275px;
  padding: 7px;
  background: #fcf8f5;
  border-radius: 5px;
}
#formAdoption form .text {
  width: 270px;
  background: #fcf8f5;
  border-radius: 5px;
}
#formAdoption form p {
  margin: 0 0 0.5em 0;
}
#formAdoption .photo {
  width: 250px;
  height: 250px;
  margin: 0 auto 20px;
}
#childrens {
  max-width: 900px;
  margin: 0 auto 60px;
  padding: 0 0 30px 0;
  text-align: center;
}
#childrens #searchForm {
  padding-bottom: 1em;
}
#childrens #searchForm input {
  width: 400px;
  border-radius: 5px;
  font-size: 17px;
}
#childrens #searchForm button {
  background: #4cb63d;
  color: #fff;
  border: 0;
  padding: 8px 12px;
  position: relative;
  left: -9px;
  font-size: 1em;
  border-radius: 0 5px 5px 0;
}
#childrens h3.notice {
  font-weight: normal;
  text-align: center;
}
#childrens .showMoreChildren {
  clear: both;
  display: block;
  position: relative;
  top: 40px;
  width: 200px;
  margin: 15px auto 0;
  padding: 15px 0;
  background: #4CB63D;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
#childrens .children {
  display: inline-block;
  width: 212px;
  margin: 10px;
}
#childrens .children img {
  width: 200px;
  min-height: 216px;
}
#childrens .children .bubble {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
#childrens .noShow {
  display: none;
}
#childrens .showMoreChildren:hover {
  background: #997653;
}
#childrens p {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.category-aktuality p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.category-aktuality .entry-summary {
  display: none;
}
.category-aktuality .readmore {
  display: none;
}
.category-aktuality .post-img {
  display: none;
}
.category-aktuality .entry-header h2 {
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto 0.3em;
}
.category-aktuality .entry-header a {
  display: block;
  text-decoration: none;
  padding: 1em 0;
  border-top: 1px dotted #ccc;
}
.category-aktuality .entry-header a:hover {
  color: #504342;
  background: #eadec5;
}
.category-aktuality .entry-header .post-date {
  display: block;
  max-width: 800px;
  margin: 0 auto 10px;
  color: #818181;
  font-size: 0.667em;
}
.category-aktuality .entry-meta,
.category-aktuality .icon-user,
.category-aktuality .comment {
  display: none;
}
#post-9 {
  margin: -40px 0 0 0;
}
.flexslider {
  position: relative;
}
.flexslider .slides {
  margin: 0;
}
.flexslider .slides > li {
  max-height: 600px;
}
.flexslider .slides img {
  position: relative;
  top: 0px;
  width: 100%;
  display: block;
  margin: 0 auto;
  z-index: 2;
}
.flexslider .slides img.blur {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: block;
  margin: 0 auto;
  z-index: 1;
}
