/*
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
*/

/* -------- Obecné styly -------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {  
  margin:0; 
  padding:0; 
}

html, body {
  height: 100%;
}

body {
  background: #f4ebd3;
  font-size: 17px;
  font-family: Helvetica, Lato, Arial, sans-serif;
}

.group:after                  {clear:both; content:"."; display:block; height:0; visibility:hidden; }
* html .group                 {height:1%; }

h1 {  
  font-size: 3.375em;
  color: #504342;
  font-weight: bold;
  line-height: 1em;
  margin: 1em 0;
}

h2 {  
  font-size: 2.25em;
  color: #504342;
  font-weight: bold;
  line-height: 1em;
  margin: 1em 0;
}

p {
  color: #666;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; 
}
a {
  color: #4CB63D;
}
a:link {
  color: #4CB63D;
}
a:visited {
  color: #4CB63D;
}

ul { 
  margin: 1em 0;
}

li { 
  margin: 1em 0 0;
}

p.perex {
  font-size: 1.5em;
}

.bubble {
  border-radius: 50%;
  border: 6px solid #e9e2cb;
  overflow: hidden;
}
.bubble img {
  width: 100%;
}

#page {
  min-height: 100%;
  /* stejny jako vyska paticky */
  margin-bottom: -140px;
}

#page:after {
  content: "";
  display: block;
}

#page:after {
  /* .push must be the same height as footer */
  height: 140px; 
}

/* -------- Hlavicka -------- */
#mainLogo {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  z-index: 1;
}
#mainLogo img {
  width: 150px;
}
.home #mainLogo {
  position: absolute;
  top: 12px;
  padding-top: 0px;
}
.home #mainLogo img {
  width: 200px;
}

.home .entry-content {
  width: auto;
}

.home .perex {
  text-align: center;
}

#masthead {
  border-top: 0px !important;
}
/* -------- Banner na hlavní stránce -------- */
#wideslider {
  padding: 0px;
  margin: 0px;
  border: none;
  overflow: hidden;
  /* breakpoint pro velke rozliseni */
  max-width: 2200px;
}
#wideslider ul li {
  position: relative;
  max-height: 380px;
  background: none;
}

@media all and (min-width:1400px) {
   #wideslider ul li { max-height: 500px; }
   flexslider .slides img { top: -480px; } 
}

@media all and (min-width:1600px) {
  #wideslider ul li { max-height: 500px; }
  .flexslider .slides img { top: -380px; } 
}
/* -------- Navigace -------- */
.main-navigation {
  position: relative;
  max-width: 1000px;
  height: 120px;
  margin: 0 auto;
}
.main-navigation .sf-menu {
  border-bottom: 1px dotted #ccc;
}
.main-navigation .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.main-navigation .current-menu-item .sub-menu {
  display: inline;
}
.main-navigation .current-menu-item .sub-menu {
  display: inline;
}
.main-navigation .current-menu-ancestor .sub-menu {
  display: inline;
}

.main-navigation .current-menu-item a{
  color: #997653;
}

.main-navigation .current-menu-item ul a{
  color: #4cb63d;
}

.home .main-navigation {
  height: auto;
  margin: 0 auto 0;
}
.sf-menu {
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
.sf-menu li {
  display: inline;
  padding: 17px;
}
/* -------- Blog archiv na hp -------- */
#bottom {
  padding: 0px;
}
#bottom ul {
  margin: 0px 0px;
  padding: 0px;
}
#bottom h3.bothead,
#bottom h3.sidetitl {
  margin: 1em 20px 0;
  padding: 10px 0px;
  font-size: 2.25em;
  text-align: center;
  color: #818181;
}
#bottom .botwid {
  display: block;
  color: #666;
  list-style: none;
  width: auto !important;
  float: none;
}
#bottom .botwid ul {
  list-style-type: none;
  text-align: center;
}
#bottom .botwid ul li {
  display: block;
  position: relative;
  margin: 0;
  border-bottom: 1px dotted #ccc;
}
#bottom .botwid ul li .post-date {
  position: absolute;
  width: 100%;
  font-size: 0.8em;
  bottom: 1em;
  display: block;
  color: #818181;
}

#bottom .botwid ul li a {
  display: block;
  font-size: 2.25em;
  line-height: 1em;
  padding: 1em 0;
  text-decoration: none;
}
#bottom .botwid ul li a:hover {
  color: #504342;
  background: #eadec5;
}
#bottom .botwid p {
  padding: 5px 0px;
  margin: 0;
  line-height: 150%;
}
/* -------- Hlavní stránka -------- */
#primary h1 {
  text-align: center;
}

#mainPage {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
#mainPage h1 {
  margin: 20px 20px 10px;
}
#mainPage p {
  padding: 0 100px 0px;
  text-align: center;
}
#mainPage #actions {
  width: 300px;
  margin: 0 auto 1.5em;
}
#mainPage #actions a {
  float: left;
  width: 130px;
  margin: 0 10px;
  padding: 20px 0;
  background: #4CB63D;
  color: #fff;
  border-radius: 10px;
}
#mainPage #actions a:hover {
  background: #997653;
}
/* -------- Blog post -------- */
.single-post p {
  line-height: 1.6;
}
.single-post .entry-content {
  width: 600px;
  margin: 0 auto;
}
.single-post .entry-content h1 {

}
.single-post #main {
  margin: -40px 0 0 0;
}
/* -------- Děkujeme za adopci -------- */
#thanksForAdoption {
  margin: -40px auto 0;
  text-align: center;
}
#thanksForAdoption p {
  width: 500px;
  margin: 0 auto;
  line-height: 1.5;
}
#thanksForAdoption p span {
  color: #707070;
}
#thanksForAdoption i {
  display: block;
  padding-top: 10px;
}
#thanksForAdoption h1 {
  padding-bottom: 20px;
}
/* -------- Profil dítěte -------- */
#profile.twoColumnsLayout {
  font-family: Lato, sans-serif;
  margin: -80px auto 0;
  width: 820px;
  padding: 20px 0 0;
}
#profile.twoColumnsLayout .perex {
  font-size: 1.2em;
  margin: 0.3em 0 1em;
  text-align: left;
}
#profile.twoColumnsLayout #right {
  float: left;
  width: 450px;
}
#profile.twoColumnsLayout #right h4 {
  float: left;
  width: 470px;
}

#profile.twoColumnsLayout #left {
  float: left;
  width: 300px;
  margin-right: 50px;
}
#profile.twoColumnsLayout #left h4 {
  padding: 10px 0;
  margin: 0 auto;
  width: 250px;
  border-bottom: 1px solid #ccc;
}
#profile.twoColumnsLayout #left th,
#profile.twoColumnsLayout #left td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#profile.twoColumnsLayout #left th {
  text-align: left;
  font-weight: normal;
}
#profile.twoColumnsLayout #left td {
  text-align: right;
}
#profile.twoColumnsLayout #left tr:last-child th,
#profile.twoColumnsLayout #left #profile #left tr:last-child td {
  border: none;
}
#profile.twoColumnsLayout #left table {
  margin: 0 auto 20px;
  width: 250px;
}
#profile a#helpMe:hover {
  background: #997653;
}
#profile #helpMe.disable {
  background: #f4f0e5;
  border: 1px solid #ccc;
  color: #666;
}
#profile #timeline {
  background: url(../images/timelineBorder.png) 50% 0 repeat-y;
}
#profile #timeline .showMore {
  display: block;
  width: 200px;
  margin: 15px auto 30px;
  padding: 15px 0;
  background: #4CB63D;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
#profile #timeline .note {
  padding: 5px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #997653;
}
#profile #timeline .note img {
  display: block;
  width: 100%;
}
#profile #timeline .note p {
  margin: 5px 0 0;
  text-align: center;
}
#profile #timeline .start {
  margin: 0 auto 20px;
  padding: 10px;
  width: 100px;
  background: #f4ebd3;
  text-align: center;
}
#profile #timeline .noShow {
  display: none;
}
#profile #timeline .showMore:hover {
  background: #997653;
}
#profile #timeline .galleryPhoto {
  width: 100%;
}
#profile .photo {
  width: 250px;
  height: 250px;
  margin: 45px auto 20px;
}
#profile h1 {
  text-align: left;
  margin-bottom: 0;
}
#profile #helpMe {
  display: block;
  width: 200px;
  margin: 0 auto 30px;
  background: #4CB63D;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  border-radius: 5px;
}
/* -------- Kontakty -------- */
#contacts {
  margin: -40px auto 0;
  max-width: 900px;
}
#contacts .teamMember {
  float: left;
  width: 280px;
  margin: 0 10px 50px;
  text-align: center;
}
#contacts .teamMember h3 {
  display: block;
  margin: 20px 0 10px;
  padding-bottom: 3px;
  font-weight: normal;
  color: #504342;
}
#contacts .teamMember a {

}
#contacts .teamMember .bubble {
  width: 200px;
  margin: 0 auto;
  height: 200px;
}
#contacts .teamMember .title {
  margin-bottom: 5px;
  color: #997653;
}
/* -------- Ostatní textové stránky -------- */
.entry-content {
  width: 600px;
  margin: 0 auto;
  padding: 0 0 60px;
}
.entry-content ul {
  margin: 0 0 10px 0;
  list-style-type: none;
}

.entry-content .wide {
  width: 100%;
}
.entry-content p {
  line-height: 1.5;
}
.entry-content p a {
  text-decoration: underline;
}
.entry-content .dotted li {
  color: #997653;
  padding: 10px 0 10px 50px;
  background: url(../images/dot.png) 10px 50% no-repeat;
}
.entry-content h1 {
  text-align: center;
}
.entry-content h2 {
  color: #504342;
}
/* -------- Sponzori v paticce -------- */
#sponsors {
  clear: both;
  border: 1px dotted #ccc;
  text-align: center;
  height: 140px;
}

.home #sponsors {
  border: 0px;
}

#sponsors div {
  padding: 20px 0 10px;
}

#sponsors img {
  padding: 0 10px;
}
/*
.photo {
    width: 250px;
    height: 250px;
    margin: 0 auto 20px;
}
*/
/* -------- Formluar pro adopci -------- */
#formAdoption .errorMsg {
  display: none;
  margin-left: 140px;
  padding: 5px 38px 0 0;
  font-size: 13px;
  color: #ec0000;
}
#formAdoption #send {
  width: 290px;
  margin-left: 140px;
  padding: 15px 0;
  background: #4CB63D;
  border: 0;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
}
#formAdoption #send:hover {
  background: #997653;
}
#formAdoption .error .errorMsg {
  display: block;
}
#formAdoption .error input {
  border: 1px solid #ec0000;
}
#formAdoption form {
  margin-top: 25px;
}
#formAdoption form label {
  float: left;
  width: 130px;
  margin-right: 10px;
  padding-top: 7px;
  text-align: right;
}
#formAdoption form .require {
  padding-left: 5px;
  font-size: 20px;
  cursor: help;
}
#formAdoption form textarea {
  height: 100px;
  width: 275px;
  padding: 7px;
  background: #fcf8f5;
  border-radius: 5px;
}
#formAdoption form .text {
  width: 270px;
  background: #fcf8f5;
  border-radius: 5px;
}
#formAdoption .photo {
  width: 250px;
  height: 250px;
  margin: 0 auto 20px;
}
#formAdoption h1 {
  padding: 0 0 60px;
}
/* -------- Výpis dětí -------- */
#childrens {
  max-width: 880px;
  margin: 0 auto 60px;
  padding: 0 0 30px 0;
}
#childrens .showMoreChildren {
  clear: both;
  display: block;
  position: relative;
  top: 40px;
  width: 200px;
  margin: 15px auto 0;
  padding: 15px 0;
  background: #4CB63D;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
#childrens .children {
  float: left;
  width: 200px;
  margin: 10px;
}
#childrens .children img {
  width: 200px;
  min-height: 200px;
}
#childrens .children .bubble {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: 6px solid #e9e2cb;
}
#childrens .children span {
  display: block;
  text-align: center;
}
#childrens .noShow {
  display: none;
}
#childrens .showMoreChildren:hover {
  background: #997653;
}
#childrens p {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 30px;
}
/* -------- Wordpress hacks :) -------- */
#post-9 {
  margin: -40px 0 0 0;
}
