/*
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);
*/

/* -------- Obecné styly -------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {  
  margin:0; 
  padding:0; 
}

html, body {
  height: 100%;
}

body {
  background: #f4ebd3;
  font-size: 17px;
  font-family: Helvetica, Lato, Arial, sans-serif;
}

.group:after                  {clear:both; content:"."; display:block; height:0; visibility:hidden; }
* html .group                 {height:1%; }

h1 {  
  font-size: 3.375em;
  color: #504342;
  font-weight: normal;
  line-height: 1em;
  margin: 1em 0;
}

h2 {  
  font-size: 2.25em;
  color: #504342;
  font-weight: normal;
  line-height: 1em;
  margin: 1em 0;
}

h3 {  
  font-size: 1.5em;
  color: #504342;
  font-weight: normal;
  line-height: 1em;
  margin: 1em 0;
}

p {
  color: #666;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; 
}
a {
  color: #4CB63D;
}
a:link {
  color: #4CB63D;
}
a:visited {
  color: #4CB63D;
}

ul { 
  margin: 1em 0;
}

li { 
  line-height: 1.5em;
}

p.perex {
  font-size: 1.5em;
}

.edit-link {
  display: none;
}

.bubble {
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
  overflow: hidden;
}

.bubble.male {
  border-color: #b2c1da;
}
.bubble.female {
  border-color: #e6b5b6;
}

.bubble img {
  position: relative;
  top: -16px;
  width: 100%;
}

#page {
  min-height: 100%;
  /* stejny jako vyska paticky */
  margin-bottom: -140px;
}

#page:after {
  content: "";
  display: block;
}

#page:after {
  /* .push must be the same height as footer */
  height: 140px; 
}

article.page .entry-content {
  max-width: 800px;
  margin: 0 auto;
}

article.page .entry-content p {
  padding-left: 40px;
  padding-right: 40px;
}

#actionButtons {
  clear: both;
  text-align: center;
  padding: 20px;
  margin: 0 auto 1.5em;
}
#actionButtons a {
  display: inline-block;
  margin: 0 10px;
  padding: 20px 20px;
  background: #4CB63D;
  color: #fff;
  border-radius: 10px;
}
#actionButtons a:hover {
  background: #997653;
}


/* -------- Hlavicka -------- */
#mainLogo {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  z-index: 3;
}
#mainLogo img {
  width: 150px;
}
.home #mainLogo {
  position: absolute;
  top: 12px;
  padding-top: 0px;
}
.home #mainLogo img {
  width: 200px;
}

.home .entry-content {
  width: auto;
}

.home .perex {
  text-align: center;
}

#masthead {
  border-top: 0px !important;
}
/* -------- Banner na hlavní stránce -------- */
#wideslider {
  padding: 0px;
  margin: 0px;
  border: none;
  overflow: hidden;
  /* zarazka pro velke rozliseni */
  max-width: 2200px;
}

#wideslider ul li {
  position: relative;
  max-height: 380px;
  background: none;
}

@media all and (min-width:1400px) {
   #wideslider ul li { max-height: 500px; }
   flexslider .slides img { top: -480px; } 
}

@media all and (min-width:1600px) {
  #wideslider ul li { max-height: 500px; }
  .flexslider .slides img { top: -380px; } 
}
/* -------- Navigace -------- */
.main-navigation {
  position: relative;
  max-width: 1000px;
  height: 120px;
  margin: 0 auto;
}
.main-navigation .sf-menu li {
  border-bottom: 1px dotted #ccc;
}

.main-navigation .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px dotted #ccc;
}

.main-navigation .sub-menu li {
  border-bottom: 0px;
¨}

.main-navigation .current-menu-item .sub-menu {
  display: inline;
}
.main-navigation .current-menu-item .sub-menu {
  display: inline;
}
.main-navigation .current-menu-ancestor .sub-menu {
  display: inline;
}

.main-navigation .current-menu-item a{
  color: #997653;
}

.main-navigation .current-menu-item ul a{
  color: #4cb63d;
}

.home .main-navigation {
  height: auto;
  margin: 0 auto 0;
}
.sf-menu {
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
.sf-menu li {
  display: inline;
  padding: 17px;
}
/* -------- Blog archiv na hp -------- */
#bottom {
  padding: 0px;
}
#bottom ul {
  margin: 0px 0px;
  padding: 0px;
}
#bottom h3.bothead {
  margin: 1.5em 0 0.5em;
  font-weight: normal;
  text-align: center;
  color: #818181;
}
#bottom .botwid {
  display: block;
  color: #666;
  list-style: none;
  width: auto !important;
  float: none;
}
#bottom .botwid ul {
  list-style-type: none;
  text-align: center;
}
#bottom .botwid ul li {
  display: block;
  position: relative;
  margin: 0;
  border-top: 1px dotted #ccc;
}
#bottom .botwid ul li .post-date {
  position: absolute;
  width: 100%;
  font-size: 0.8em;
  bottom: 1em;
  display: block;
  color: #818181;
}

#bottom .botwid ul li a {
  display: block;
  font-size: 2.25em;
  line-height: 1em;
  padding: 1em 0;
  text-decoration: none;
}
#bottom .botwid ul li a:hover {
  color: #504342;
  background: #eadec5;
}
#bottom .botwid p {
  padding: 5px 0px;
  margin: 0;
  line-height: 150%;
}
/* -------- Hlavní stránka -------- */
#primary h1 {
  text-align: center;
}

#mainPage {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
#mainPage h1 {
  margin: 20px 20px 10px;
}
#mainPage p {
  padding: 0 100px 0px;
  text-align: center;
}

#mainPage #actions {
  text-align: center;
  padding: 20px;
  margin: 0 auto 1.5em;
}
#mainPage #actions a {
  margin: 0 10px;
  padding: 20px 20px;
  background: #4CB63D;
  color: #fff;
  border-radius: 10px;
}
#mainPage #actions a:hover {
  background: #997653;
}
/* -------- Blog post -------- */
.single-post p {
  line-height: 1.6;
}
.single-post .entry-content {
  width: 800px;
  margin: 0 auto;
}
.single-post .entry-content h1 {

}
.single-post #main {
  margin: -40px 0 0 0;
}
/* -------- Děkujeme za adopci -------- */
#thanksForAdoption {
  width: 500px;
  margin: -40px auto 0;
  text-align: center;
  padding-bottom: 70px;
}

#thanksForAdoption p span {
  color: #707070;
}
#thanksForAdoption i {
  display: block;
  padding-top: 10px;
}

#thanksForAdoption .bubble {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

/* -------- Profil dítěte -------- */
.twoColumnsLayout {
  font-family: Lato, sans-serif;
  margin: -80px auto 0;
  width: 820px;
  padding: 20px 0 0;
}
.twoColumnsLayout .perex {
  font-size: 1.2em;
  margin: 0.3em 0 1em;
  text-align: left;
}
.twoColumnsLayout #right {
  float: left;
  width: 450px;
}
.twoColumnsLayout #right h4 {
  float: left;
  width: 470px;
}

.twoColumnsLayout #left {
  float: left;
  width: 300px;
  margin-right: 50px;
}
.twoColumnsLayout #left h4 {
  padding: 10px 0;
  margin: 0 auto;
  width: 250px;
  border-bottom: 1px solid #ccc;
}
.twoColumnsLayout #left th,
.twoColumnsLayout #left td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.twoColumnsLayout #left th {
  text-align: left;
  font-weight: normal;
}
.twoColumnsLayout #left td {
  text-align: right;
}
.twoColumnsLayout #left tr:last-child th,
.twoColumnsLayout #left #profile #left tr:last-child td {
  border: none;
}
.twoColumnsLayout #left table {
  margin: 0 auto 20px;
  width: 250px;
}

#profile #left p {
  text-align: center;
}

#profile a#helpMe:hover {
  background: #997653;
}
#profile #helpMe.disable {
  background: #f4f0e5;
  border: 1px solid #ccc;
  color: #666;
}
#profile #timeline {
  background: url(../images/timelineBorder.png) 50% 0 repeat-y;
}
#profile #timeline .showMore {
  display: block;
  width: 200px;
  margin: 15px auto 30px;
  padding: 15px 0;
  background: #4CB63D;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
#profile #timeline .note {
  padding: 5px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #997653;
}
#profile #timeline .note img {
  display: block;
  width: 100%;
}
#profile #timeline .note p {
  margin: 0;
  padding: 5px;
  text-align: left;
}
#profile #timeline .start {
  margin: 0 auto 20px;
  padding: 10px;
  width: 100px;
  background: #f4ebd3;
  text-align: center;
}
#profile #timeline .noShow {
  display: none;
}
#profile #timeline .showMore:hover {
  background: #997653;
}
#profile #timeline .galleryPhoto {
  width: 100%;
}
#profile .photo {
  width: 250px;
  height: 250px;
  margin: 45px auto 20px;
}
#profile h1 {
  text-align: left;
  margin-bottom: 0;
}
#profile #helpMe {
  display: block;
  width: 200px;
  margin: 0 auto 30px;
  background: #4CB63D;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  border-radius: 5px;
}
/* -------- Kontakty -------- */
#contacts {
  margin: 0px auto 0;
  max-width: 900px;
}

#contacts .contactLink {
  font-size: 1.2em;
  text-align: center;
}

#contacts .teamMember {
  float: left;
  width: 280px;
  margin: 0 10px 50px;
  text-align: center;
}
#contacts .teamMember h3 {
  display: block;
  margin: 20px 0 10px;
  padding-bottom: 3px;
  font-weight: normal;
  color: #504342;
}
#contacts .teamMember p {
  margin: 0 0 1.5em 0;
}

#contacts .teamMember .bubble {
  width: 200px;
  margin: 0 auto;
  height: 200px;
}

#contacts .teamMember .bubble img {
  top: 0px;
}

#contacts .teamMember .title {
  margin-bottom: 5px;
  color: #997653;
}

#contactMap {
  clear: both;
  height: 585px;
  background: url(../images/map.jpg) center 0 no-repeat;
  border-top: 1px dotted #ccc;
}

#contactMap .content {
  position:relative;
  max-width: 900px;
  margin: 0 auto;
}

#contactMap .content div {
  position: relative;
  top: 150px;
  left: -120px;
  width: 500px;
  margin: 0 auto;
  padding: 0 0 25px 0.1em;
  background: #50c6d0;
}

#contactMap .content div ul {
  padding: 0 20px;
  color: #fff;
  margin: 0;
}

#contactMap h3 {
  padding: 1em 20px 0;
  color: #fff;
  font-weight: normal;
  margin: 0;
}


/* -------- Ostatní textové stránky -------- */
.entry-content ul {
  margin: 0 0 10px 0;
  list-style-type: none;
}

.entry-content .wide {
  width: 100%;
}
.entry-content p {
  line-height: 1.5;
}
.entry-content p a {
  text-decoration: underline;
}
.entry-content .dotted li {
  color: #997653;
  padding: 10px 0 10px 50px;
  background: url(../images/dot.png) 10px 50% no-repeat;
}
.entry-content h1 {
  text-align: center;
}
.entry-content h2 {
  color: #504342;
}
/* -------- Sponzori v paticce -------- */
#sponsors {
  clear: both;
  border: 1px dotted #ccc;
  text-align: center;
  height: 140px;
}

#sponsors div {
  padding: 20px 0 10px;
}

#sponsors img {
  padding: 0 10px;
}
/*
.photo {
    width: 250px;
    height: 250px;
    margin: 0 auto 20px;
}
*/
/* -------- Formluar pro adopci -------- */
#formAdoption {
  width: 750px;
  padding-bottom: 70px;
}

#formAdoption #left {
  text-align: center;
}

#formAdoption #right {
  width: 380px;
}

#formAdoption .errorMsg {
  display: none;
  padding: 5px 38px 0 5px;
  font-size: 13px;
  color: #ec0000;
}
#formAdoption #send {
  width: 290px;
  padding: 15px 0;
  background: #4CB63D;
  border: 0;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  margin-top: 0.5em;
}
#formAdoption #send:hover {
  background: #997653;
}
#formAdoption .error .errorMsg {
  display: block;
}
#formAdoption .error input {
  border: 1px solid #ec0000;
}
#formAdoption form {
  margin-top: 25px;
  margin-left: 40px;
}
#formAdoption form label {
  display: block;
  padding: 7px 0 0 5px;
}
#formAdoption form .require {
  padding-left: 5px;
  font-size: 20px;
  cursor: help;
}
#formAdoption form textarea {
  height: 100px;
  width: 275px;
  padding: 7px;
  background: #fcf8f5;
  border-radius: 5px;
}
#formAdoption form .text {
  width: 270px;
  background: #fcf8f5;
  border-radius: 5px;
}

#formAdoption form p {
  margin: 0 0 0.5em 0;
}

#formAdoption .photo {
  width: 250px;
  height: 250px;
  margin: 0 auto 20px;
}

/* -------- Výpis dětí -------- */
#childrens {
  max-width: 880px;
  margin: 0 auto 60px;
  padding: 0 0 30px 0;
}

#childrens #searchForm {
  padding-bottom: 1em;
}

#childrens #searchForm input {
  width: 400px;
  border-radius: 5px;
  font-size: 17px
}

#childrens h3.notice { font-weight: normal; text-align: center; }

#childrens .showMoreChildren {
  clear: both;
  display: block;
  position: relative;
  top: 40px;
  width: 200px;
  margin: 15px auto 0;
  padding: 15px 0;
  background: #4CB63D;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
#childrens .children {
  float: left;
  width: 200px;
  margin: 10px;
}
#childrens .children img {
  width: 200px;
  min-height: 200px;

}
#childrens .children .bubble {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

#childrens .children span {
  display: block;
  padding: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}
#childrens .noShow {
  display: none;
}
#childrens .showMoreChildren:hover {
  background: #997653;
}
#childrens p {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* -------- Blog archiv :) -------- */
.category-aktuality #main {
  margin: -40px 0 0 0;
}

.category-aktuality p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.category-aktuality .entry-summary {
  display: none;
}

.category-aktuality .entry-meta,
.category-aktuality .icon-user,
.category-aktuality .comment {
  display: none;
}

.category-aktuality .readmore {
  display: none;
}

.category-aktuality .post-img {
  display: none;
}

.category-aktuality .entry-header h1 {
  font-size: 2.25em;
  line-height: 1em;
  margin: 0;
  font-weight: normal;
  border-bottom: 1px dotted #ccc;
}

.category-aktuality .entry-header h1:last-child {
  border: 0px;
}

.category-aktuality .entry-header a {
  display: block;
  text-decoration: none;
  padding: 1em 0;
}

.category-aktuality .entry-header a:hover {
  color: #504342;
  background: #eadec5;
}


.articleType1 { text-align: left; }
.articleType1 .block { clear: both; margin-bottom: 1em; }
.articleType1 img { float: left; margin-right: 20px; }
.articleType1 p { 
  padding-left: 0px !important;
  padding-right: 0px !important;
}


/* -------- Wordpress hacks :) -------- */
#post-9 {
  margin: -40px 0 0 0;
}

.flexslider { position: relative; }
.flexslider .slides { margin: 0; }
.flexslider .slides > li {max-height: 600px;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img { position: relative; top: -170px; width: 100%; display: block; /*max-width: 1500px;*/ margin: 0 auto; z-index: 2; }
.flexslider .slides img.blur { position: absolute; top: -170px; left: 0px; width: 100%; display: block; /*max-width: 1500px;*/ margin: 0 auto; z-index: 1;}



