/* -------- Obecné styly -------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {
    margin:0;
    padding:0;
}
html, body {
    height: 100%;
}
body {
    background: #f4ebd3;
    font-size: 17px;
    font-family: Helvetica, Lato, Arial, sans-serif;
}
.group:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}
* {
    html {
        .group {
            height:1%;
        }
    }
}
h1 {
    font-size: 3.375em;
    color: #504342;
    font-weight: normal;
    line-height: 1em;
    margin: 0.5em 0 1em;
}
h2 {
    font-size: 2.25em;
    color: #504342;
    font-weight: normal;
    line-height: 1em;
    margin: 1em 0;
}
h3 {
    font-size: 1.5em;
    color: #504342;
    font-weight: normal;
    line-height: 1.5em;
    margin: 1em 0;
}
h4 {
    font-size: 1.2em;
    color: #504342;
    font-weight: normal;
    line-height: 1em;
    margin: 1em 0;
}
p {
    color: #666;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
a {
    color: #4CB63D;
}
a:link {
    color: #4CB63D;
}
a:visited {
    color: #4CB63D;
}
ul {
    margin: 1em 0;
}
li {
    line-height: 1.5em;
}
p.perex {
    font-size: 1.5em;
}
#actions {
    text-align: center;
    padding: 20px;
    margin: 0 auto 1.5em;
    a {
        margin: 0 10px;
        padding: 20px 20px;
        background: #4CB63D;
        color: #fff;
        border-radius: 10px;
    }
    a:hover {
        background: #997653;
    }
}
.edit-link {
    display: none;
}
.cite {
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: georgia;
    font-style: italic;
}
.bubble {
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: #ede1cb;
    overflow: hidden;
    img {
        position: relative;
        top: -16px;
        width: 100%;
    }

    &.male {
        border-color: #b2c1da;
    }
    &.female {
        border-color: #e6b5b6;
    }
}

.photoChildrenFloatLeft {
    float: left;
    width: 170px;
    height: 170px;
    border-width: 4px !important;
    margin-right: 20px;
}

#page {
    min-height: 100%;
    margin-bottom: -140px;
}
#page:after {
    content: "";
    display: block;
    height: 140px;
}

article.page {
    .entry-content {
        max-width: 700px;
        margin: 0 auto;
    }
}
#actionButtons {
    clear: both;
    text-align: center;
    padding: 20px;
    margin: 0 auto 1.5em;
    a {
        display: inline-block;
        margin: 0 10px;
        padding: 20px 20px;
        background: #4CB63D;
        color: #fff;
        border-radius: 10px;
    }
    a:hover {
        background: #997653;
    }
}
#mainLogo {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    z-index: 3;
    img {
        width: 150px;
    }
}
.home {
    #mainLogo {
        position: absolute;
        top: 12px;
        padding-top: 0px;
        img {
            width: 200px;
        }
    }
    .entry-content {
        width: auto;
    }
    .perex {
        text-align: center;
    }
    .main-navigation {
        height: auto;
        margin: 0 auto 0;
    }
    .sf-menu {
        li {
            font-size: 1.2em;
        }
    }
}
#masthead {
    border-top: 0px !important;
}
#wideslider {
    padding: 0px;
    margin: 0px;
    border: none;
    overflow: hidden;
    max-width: 2200px;
    ul {
        li {
            position: relative;
            max-height: 380px;
            background: none;
        }
    }
}

@media (min-width:1400px) {
   #wideslider ul li { max-height: 500px; }
   flexslider .slides img { top: -480px; } 
}

@media (min-width:1600px) {
  #wideslider ul li { max-height: 500px; }
  .flexslider .slides img { top: -380px; } 
}

/* -------- Navigace -------- */
.main-navigation {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    .sf-menu {
        li {
            border-bottom: 1px dotted #ccc;
            margin-right: -4px;
        }
    }
    .sub-menu {
        display: none;
        position: absolute;
        left: 0;
        top: 80px;
        width: 100%;
        margin: 0;
        border-bottom: 1px dotted #ccc;
        li {
            border-bottom: 0px;
        }
    }
    .current-menu-item {
        .sub-menu {
            display: inline;
            display: inline;
        }
        a {
            color: #997653;
        }
        ul {
            a {
                color: #4cb63d;
            }
        }
    }
    .current-menu-ancestor {
        .sub-menu {
            display: inline;
        }
    }
}
.sf-menu {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    li {
        display: inline-block;
        padding: 17px;

        &.current-menu-item.menu-item-has-children,
        &.current-menu-parent.menu-item-has-children {
            margin-bottom: 60px;
        }
    }
}
#bottom {
    padding: 0px;
    ul {
        margin: 0px 0px;
        padding: 0px;
    }
    h3.bothead {
        max-width: 800px;
        margin: 1.5em auto 0.5em;
        font-weight: normal;
        text-align: left;
        color: #818181;
    }
    .botwid {
        display: block;
        color: #666;
        list-style: none;
        width: auto !important;
        float: none;
        ul {
            list-style-type: none;
            li {
                display: block;
                position: relative;
                margin: 0;
                border-top: 1px dotted #ccc;
                .wrapper {
                    display: block;
                    max-width: 800px;
                    margin: 0 auto;
                }
                h3 {
                    margin: 1em 0 0.5em;
                }
                .post-date {
                    display: block;
                    font-size: 0.8em;
                    color: #818181;
                }
                a {
                    display: block;
                    line-height: 1em;
                    padding: 1em 0;
                    text-decoration: none;
                }
                a:hover {
                    color: #504342;
                    background: #eadec5;
                }
            }
        }
        p {
            text-align: left;
        }
    }
}
#primary {
    h1 {
        text-align: center;
    }
}
#mainPage {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    h1 {
        margin: 20px 20px 10px;
    }
    p {
        text-align: center;
    }
}
.single-post {
    p {
        line-height: 1.6;
    }
    .entry-content {
        width: 800px;
        margin: 0 auto;
    }
    #main {
        margin: -40px 0 0 0;
    }
}
#thanksForAdoption {
    width: 500px;
    margin: -40px auto 0;
    text-align: center;
    padding-bottom: 70px;
    p {
        span {
            color: #707070;
        }
    }
    i {
        display: block;
        padding-top: 10px;
    }
    .bubble {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
}
.twoColumnsLayout {
    font-family: Lato, sans-serif;
    margin: 0 auto 0;
    width: 820px;
    padding: 20px 0 0;
    .perex {
        font-size: 1.2em;
        margin: 0.3em 0 1em;
        text-align: left;
    }
    #right {
        float: left;
        width: 450px;
        h4 {
            float: left;
            width: 470px;
        }
    }
    #left {
        float: left;
        width: 300px;
        margin-right: 50px;
        h4 {
            padding: 10px 0;
            margin: 0 auto;
            width: 250px;
            border-bottom: 1px solid #ccc;
        }
        th {
            text-align: left;
            font-weight: normal;
        }
        td {
            text-align: right;
        }
        table {
            margin: 0 auto 20px;
            width: 250px;
        }
    }
}
.twoColumnsLayout #left th,.twoColumnsLayout #left td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.twoColumnsLayout #left tr:last-child th,.twoColumnsLayout #left #profile #left tr:last-child td {
    border: none;
}
#profile {
    #left {
        p {
            text-align: center;
        }
    }
    a#helpMe:hover {
        background: #997653;
    }
    #helpMe.disable {
        background: #f4f0e5;
        border: 1px solid #ccc;
        color: #666;
    }
    #timeline {
        background: url(../images/timelineBorder.png) 50% 0 repeat-y;
        .showMore {
            display: block;
            width: 200px;
            margin: 15px auto 30px;
            padding: 15px 0;
            background: #4CB63D;
            color: #fff;
            border-radius: 5px;
            text-align: center;
        }
        .note {
            padding: 5px;
            margin-bottom: 20px;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            color: #997653;
            img {
                display: block;
                width: 100%;
            }
            p {
                margin: 0;
                padding: 5px;
                text-align: left;
            }
        }
        .start {
            margin: 0 auto 20px;
            padding: 10px;
            width: 100px;
            background: #f4ebd3;
            text-align: center;
        }
        .noShow {
            display: none;
        }
        .showMore:hover {
            background: #997653;
        }
        .galleryPhoto {
            width: 100%;
        }
    }
    .photo {
        width: 250px;
        height: 250px;
        margin: 45px auto 20px;
    }
    h1 {
        text-align: left;
        margin-bottom: 0;
    }
    #helpMe {
        display: block;
        width: 200px;
        margin: 0 auto 30px;
        background: #4CB63D;
        color: #fff;
        padding: 15px 0;
        text-align: center;
        border-radius: 5px;
    }
}
#contacts {
    margin: 0px auto 0;
    max-width: 900px;
    .contactLink {
        font-size: 1.2em;
        text-align: center;
    }
    .teamMember {
        float: left;
        width: 280px;
        margin: 0 10px 50px;
        text-align: center;
        h3 {
            display: block;
            margin: 20px 0 0px;
            padding-bottom: 3px;
            font-weight: normal;
            color: #504342;
        }
        p {
            margin: 0 0 1.5em 0;
        }
        .bubble {
            width: 200px;
            margin: 0 auto;
            height: 200px;
            img {
                top: 0px;
            }
        }
        .title {
            margin-bottom: 5px;
            color: #997653;
        }
    }
}
#contactMap {
    clear: both;
    height: 585px;
    background: url(../images/map.jpg) center 0 no-repeat;
    border-top: 1px dotted #ccc;
    .content {
        position:relative;
        max-width: 900px;
        margin: 0 auto;
        div {
            position: relative;
            top: 150px;
            left: -120px;
            width: 500px;
            margin: 0 auto;
            padding: 0 0 25px 0.1em;
            background: #50c6d0;
            ul {
                padding: 0 20px;
                color: #fff;
                margin: 0;
            }
        }
    }
    h3 {
        padding: 1em 20px 0;
        color: #fff;
        font-weight: normal;
        margin: 0;
    }
}
.entry-content {
    padding-bottom: 40px;
    ul {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
        margin-left: 20px;
        margin-right: 20px;
        list-style-type: none;
        li {
            line-height: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
    .wide {
        width: 100%;
    }
    p {
        line-height: 1.5;
        a {
            text-decoration: underline;
        }
    }
    .dotted {
        li {
            color: #997653;
            padding: 10px 0 10px 50px;
            background: url(../images/dot.png) 10px 50% no-repeat;
        }
    }
    h1 {
        text-align: center;
    }
    h2 {
        color: #504342;
    }
}
#sponsors {
    clear: both;
    border: 1px dotted #ccc;
    text-align: center;
    height: 140px;
    div {
        padding: 20px 0 10px;
    }
    img {
        padding: 0 10px;
    }
}
#formAdoption {
    width: 750px;
    padding-bottom: 70px;
    #left {
        text-align: center;
    }
    #right {
        width: 380px;
    }
    .errorMsg {
        display: none;
        padding: 5px 38px 0 5px;
        font-size: 13px;
        color: #ec0000;
    }
    #send {
        width: 290px;
        padding: 15px 0;
        background: #4CB63D;
        border: 0;
        color: #fff;
        font-size: 20px;
        border-radius: 5px;
        outline: none;
        margin-top: 0.5em;
    }
    #send:hover {
        background: #997653;
    }
    .error {
        .errorMsg {
            display: block;
        }
        input {
            border: 1px solid #ec0000;
        }
    }
    form {
        margin-top: 25px;
        margin-left: 40px;
        label {
            display: block;
            padding: 7px 0 0 5px;
        }
        .require {
            padding-left: 5px;
            font-size: 20px;
            cursor: help;
        }
        textarea {
            height: 100px;
            width: 275px;
            padding: 7px;
            background: #fcf8f5;
            border-radius: 5px;
        }
        .text {
            width: 270px;
            background: #fcf8f5;
            border-radius: 5px;
        }
        p {
            margin: 0 0 0.5em 0;
        }
    }
    .photo {
        width: 250px;
        height: 250px;
        margin: 0 auto 20px;
    }
}
#childrens {
    max-width: 900px;
    margin: 0 auto 60px;
    padding: 0 0 30px 0;
    text-align: center;
    #searchForm {
        padding-bottom: 1em;
        input {
            width: 400px;
            border-radius: 5px;
            font-size: 17px;
        }
        button {
            background: #4cb63d;
            color: #fff;
            border: 0;
            padding: 8px 12px;
            position: relative;
            left: -9px;
            font-size: 1em;
            border-radius: 0 5px 5px 0;
        }
    }
    h3.notice {
        font-weight: normal;
        text-align: center;
    }
    .showMoreChildren {
        clear: both;
        display: block;
        position: relative;
        top: 40px;
        width: 200px;
        margin: 15px auto 0;
        padding: 15px 0;
        background: #4CB63D;
        color: #fff;
        border-radius: 5px;
        text-align: center;
    }
    .children {
        display: inline-block;
        width: 200px;
        margin: 10px;
        img {
            width: 200px;
            min-height: 200px;
        }
        .bubble {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
        }
        span {
            display: block;
            padding: 0 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
        }
    }
    .noShow {
        display: none;
    }
    .showMoreChildren:hover {
        background: #997653;
    }
    p {
        width: 600px;
        margin: 0 auto;
        padding-bottom: 30px;
    }
}
.category-aktuality {
    #main {
        margin: -40px 0 0 0;
    }
    p {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .entry-summary {
        display: none;
    }
    .readmore {
        display: none;
    }
    .post-img {
        display: none;
    }
    .entry-header {
        h2 {
            text-align: left;
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.3em;
        }
        a {
            display: block;
            text-decoration: none;
            padding: 1em 0;
            border-top: 1px dotted #ccc;
        }
        a:hover {
            color: #504342;
            background: #eadec5;
        }
        .post-date {
            display: block;
            max-width: 800px;
            margin: 0 auto;
            color: #818181;
        }
    }
}
.category-aktuality .entry-meta,.category-aktuality .icon-user,.category-aktuality .comment {
    display: none;
}
.articleType1 {
    text-align: left;
    .block {
        clear: both;
        margin-bottom: 3em;
    }
    img {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }
    p {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
#post-9 {
    margin: -40px 0 0 0;
}
.flexslider {
    position: relative;
    .slides {
        margin: 0;
        & > li {
            max-height: 600px;
        }
        img {
            position: relative;
            top: -170px;
            width: 100%;
            display: block;
            margin: 0 auto;
            z-index: 2;
        }
        img.blur {
            position: absolute;
            top: -170px;
            left: 0px;
            width: 100%;
            display: block;
            margin: 0 auto;
            z-index: 1;
        }
    }
}
